.card-product {
    position: fixed;
    right: 0;
    top: 150px;
    background-color: rgb(243, 180, 7);
    border-radius: 5px;
    cursor: pointer;
}

.card-product a {
    color: rgb(196, 62, 9);
}